<!DOCTYPE html>
<html>
  <head>
    <title>Glog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
      <h3 class="my-0 mr-md-auto font-weight-normal"><%= link_to 'GLog', "/",class:"text-success text-decoration-none" %></h3>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark text-decoration-none" href="#">Apex</a>
        <a class="p-2 text-dark text-decoration-none" href="#">Valorant</a>
        <a class="p-2 text-dark text-decoration-none" href="#">Portfolio</a>
      </nav>
      <%= link_to '新規作成', new_article_path, class: "btn btn-outline-primary" %>
    </div>
    <%= yield %>
  </body>
</html>
